@model Logistics.WebApp.Models.Client.SearchResultViewModel
@using System.Linq;
@{
    ViewBag.Title = "SearchResultViewModel";
}



@if (!Model.Logs.Any())
{
    <h2>We can't found that order</h2>
}
else
{
    <div class="container">

        <div class="row bs-wizard" style="border-bottom: 0;">
            <div class="col-xs-3 bs-wizard-step complete">
                <div class="text-center bs-wizard-stepnum">Packaging</div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a href="#" class="bs-wizard-dot"></a>
            </div>
            <div class="col-xs-3 bs-wizard-step complete">
                <div class="text-center bs-wizard-stepnum">Marking</div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a href="#" class="bs-wizard-dot"></a>
            </div>
            <div class="col-xs-3 bs-wizard-step active">
                <div class="text-center bs-wizard-stepnum">Dispatching</div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a href="#" class="bs-wizard-dot"></a>
            </div>
            <div class="col-xs-3 bs-wizard-step disabled">
                <div class="text-center bs-wizard-stepnum">Delivered</div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a href="#" class="bs-wizard-dot"></a>
            </div>
        </div>
    </div>

    <h2>Order: @Model.Number</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Action</th>
                <th>Location</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in Model.Logs)
            {
                <tr>
                    <td>@log.Action</td>
                    <td>@log.Location</td>
                    <td>@log.DateTime</td>
                </tr>
            }
        </tbody>
    </table>
}